@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Chặn thanh cuộn thừa */
}

/* Fix font cho React Flow đẹp hơn */
.react-flow__node {
  font-family: 'Segoe UI', sans-serif;
}